{
    "main_url":['http://www.timesjobs.com/jobfunction/'],
    "allowed_domains":"timesjobs.com",
    "category_results": '(//div[@class="white-bx clearfix"])[1]//a',
    "category_name":'text()',
    "category_path":'@href',
    "only_category":"Y",
    "output_filename": "TimesJobs_cat.config"
}
