{
    "main_url":['https://www.efinancialcareers.com/search?keywords=&locationsId%5B0%5D=0&locationsName%5B0%5D='],
    "allowed_domains":"efinancialcareers.com",
    "category_results": '//li[@class="jobPreview well"]/h3',
    "category_name":'a/text()',
    "category_path":'a/@href',
    "only_category":"Y",
    "output_filename": "Efinancialcareers_cat.config"
}
