{
    "main_url":['https://www.monster.it/lavoro/nofiltri/?intcid=swoop_HeroSearch_0_search'],
    "allowed_domains":"monster.it",

    "category_results": '(//ul[@class="card-columns"])[2]/li',
    "category_name":'a/text()',
    "category_path":'a/@href',

    "subcategory_results": '//ul[@class="card-columns"]/li/h3',
    "subcategory_name":'a/text()',
    "subcategory_path":'a/@href',
    "output_filename": "Monster_IT_cat.config"
}