{
    "main_url":['https://www.monster.com/jobs/'],
    "allowed_domains":"monster.com",
    

    "category_results": '(//ul[@class="card-columns"])[2]/li',
    "category_name":'a/text()',
    "category_path":'a/@href',

    "subcategory_results": '//ul[@class="card-columns"]/li',
    "subcategory_name":'h3/a/text()',
    "subcategory_path":'h3/a/@href',
    "output_filename": "Monster_cat.config"
}
