{
    "main_url":['https://www.upwork.com/o/jobs/browse/'],
    "allowed_domains":"upwork.com",
    "part_url":"https://www.upwork.com",

    "category_results": '//ul[@id="category"]//li',
    "category_name":'a/text()[2]',
    "category_path":'a/@href',


    "subcategory_results": "//*[contains(@class, 'subcategories-filter')]//ul//li",
    "subcategory_name":'a/text()[2]',
    "subcategory_path":'a/@href',
    "output_filename": "Upwork_cat.config"
}
